{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _appbundle_listitems_widget %}
    <tr>
        <td>{{ form_widget(form.task) }}</td>
        <td>{{ form_widget(form.dueDate) }}</td>
    </tr>
{% endblock %}


{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.items');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <h2>Lista de tarefas |
                <small>editar</small>
            </h2>
        </div>
    </div>

    <br>

    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="offset-10 col-2">
                    <button class="btn btn-success float-right">
                        <span>Salvar lista</span>
                    </button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-4">
                                    {{ form_row(form.name, {attr: {'class': 'form-control', 'readonly': true}}) }}
                                </div>

                                <div class="col-8">
                                    {{ form_row(form.description, {attr: {'class': 'form-control', 'readonly': true}}) }}
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="col-12">
                                    <h5>Items</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <table class="table">
                                        <thead>
                                            <tr class="d-flex">
                                                <th class="col-1">Status</th>
                                                <th class="col-9">Nome</th>
                                                <th class="col-2 text-center">
                                                    <button type="button" class="btn btn-success btn-sm" id="newItem">
                                                        Novo Item
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="itemsTable">
                                            {% for item in form.items %}
                                                <tr class="d-flex">
                                                    <td class="col-1">
                                                        {{ form_widget(item.concluded) }}
                                                    </td>
                                                    <td class="col-9">
                                                        {{ form_widget(item.name, {attr: {'class': 'form-control'}}) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
                                            </ul>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="offset-10 col-2">
                    <button class="btn btn-success float-right">
                        <span>Salvar lista</span>
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}